services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - ./data/tables.sql:/docker-entrypoint-initdb.d/1.sql
      - ./data/data.sql:/docker-entrypoint-initdb.d/2.sql
  
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  valkey:
    image: valkey/valkey:9
    ports:
      - "6379:6379"
    